.copy {
  text-align: center;
  padding: 1.5rem 0rem;
  line-height: 1.4;
  letter-spacing: 1px;
  color: var(--white-text-color);
}

@media (max-width: 530px) {
  .copy {
    padding: 1rem 1rem;
    font-size: 0.8rem;
  }
}

@media (min-width: 531px) and (max-width: 768px) {
  .copy {
    font-size: 0.9rem;
  }
}
