.header {
  padding: 1.5rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  width: 9.25rem;
  height: 2.5rem;
}

.header__list {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.header__list__item {
  font-weight: 500;
  color: var(--white-text-color);
  transition: all 0.2s ease-in-out;
}

.header__list__item:hover {
  color: var(--red-text-color);
}

@media (max-width: 530px) {
  .header {
    padding: 1rem;
  }

  .header__logo {
    width: 5rem;
    height: 2.5rem;
  }

  .header__list {
    gap: 1rem;
  }

  .header__list__item {
    font-weight: 500;
    font-size: 0.8rem;
  }
}

@media (min-width: 531px) and (max-width: 768px) {
  .header {
    padding: 1.2rem;
  }

  .header__logo {
    width: 7rem;
    height: 2.5rem;
  }

  .header__list {
    gap: 1.3rem;
  }

  .header__list__item {
    font-weight: 500;
    font-size: 0.9rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .header {
    padding: 1.5rem 1rem;
  }

  .header__logo {
    width: 8rem;
  }

  .header__list {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
}
