/* hero seciton */

.hero {
  background: url("https://cnbl-cdn.bamgrid.com/assets/4e853d110b364e3757d28c810b58f085dd30be4d16554a4cbe9563f8e78303c1/original")
    center / 100% no-repeat;
  width: 100%;
  min-height: 35rem;
  height: 100%;
  border-radius: 0.8rem;
  overflow: hidden;
  position: relative;
}

.hero__desc__container {
  position: absolute;
  bottom: 20%;
  left: 5%;
  font-size: 2.5rem;
  line-height: 1.4;
  color: var(--white-text-color);
}

.hero__btn {
  margin-top: 1.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  width: 9rem;
  height: 3rem;
  border: none;
  outline: none;
  border-radius: 0.4rem;
  background: inherit;
  color: var(--white-text-color);
  background: var(--red-text-color);
  cursor: pointer;
  transition: all 0.2s ease;
}

.hero__btn:hover {
  color: var(--hover-white-color);
  background: var(--hover-red-color);
}

.hero__subscribe__desc {
  margin-top: 1rem;
  font-size: 0.8rem;
  color: var(--gray-text-color);
  line-height: 1.4;
}

/* subscription section */
.subscription {
  padding: 5rem 0rem;
}

.subscription__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subscription__flex__item {
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.subscription__flex__img {
  width: 5rem;
  height: 5rem;
}

.subscription__flex__title {
  font-size: 1.5rem;
  line-height: 1.4;
  color: var(--white-text-color);
}

.subscription__flex__desc {
  text-align: center;
  word-break: keep-all;
  text-wrap: balance;
  color: var(--white-text-color);

  span {
    color: var(--red-text-color);
  }
}

/* movie secion */
.movie {
  padding: 5rem 0rem;
}

.movie__top__rated {
  color: var(--white-text-color);
  text-align: center;
  font-size: 2rem;
}

.movie__group {
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

.movie__card {
  background: #060606;
  padding: 0.5rem;
  border-radius: 0.25rem;
  transition: all 0.2s ease-in-out;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  image-rendering: -webkit-optimize-contrast;
  transform: translateZ(0);
  backface-visibility: hidden;
}

.movie__card:hover {
  transform: scale(1.01);
}

.movie__card:hover .movie__text__container {
  color: var(--white-text-color);
}

.movie__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.movie__img {
  border-radius: 0.25rem;
  max-height: 170px;
}

/* .movie__mark {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
} */

.movie__text__container {
  transition: all 0.2s ease-in-out;
  color: #8f8f8f;
  text-align: start;

  transform: none !important;
  perspective: none !important;
}

.movie__title {
  line-height: 1.4;
  font-size: 1rem;
}

.movie__desc,
.movie__date {
  font-size: 0.8rem;
  line-height: 1.4;
  margin-top: 0.25rem;
}

.loader {
  margin: 2.5rem auto;
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #514b82;
  animation: l20-1 0.8s infinite linear alternate, l20-2 1.6s infinite linear;
}

/* 애니메이션 */

@keyframes l20-1 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
  }

  12.5% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 0%,
      100% 0%,
      100% 0%
    );
  }

  25% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      100% 100%,
      100% 100%
    );
  }

  50% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }

  62.5% {
    clip-path: polygon(
      50% 50%,
      100% 0,
      100% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }

  75% {
    clip-path: polygon(
      50% 50%,
      100% 100%,
      100% 100%,
      100% 100%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }

  100% {
    clip-path: polygon(
      50% 50%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      0% 100%
    );
  }
}

@keyframes l20-2 {
  0% {
    transform: scaleY(1) rotate(0deg);
  }
  49.99% {
    transform: scaleY(1) rotate(135deg);
  }
  50% {
    transform: scaleY(-1) rotate(0deg);
  }
  100% {
    transform: scaleY(-1) rotate(-135deg);
  }
}
