:root {
  --red-text-color: #db0000;
  --white-text-color: #f5f0f0;
  --gray-text-color: #595959;
  --dark-bg-color: #000;
  --white-bg-color: #fff;
  --hover-white-color: #f5f0f0;
  --hover-red-color: #cc1515;
}
